.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login PAGE*/

.loginpage{
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 90vh;
  background-color: #ffffff;
}

.Blocologin {
  width: 30%;
  height: 35%;
  box-shadow:  rgba(231, 228, 228, 0.964);
  border: 1px solid rgb(255, 208, 0);
  background-color: #fff;
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  padding-left: 30px;
}

.Blocoregister {
  width: 40%;
  height: 55%;
  box-shadow:  rgba(231, 228, 228, 0.964);
  border: 1px solid rgb(255, 208, 0);
  background-color: #fff;
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  padding-left: 30px;
}

.contentloginBloco{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  flex: 1;
}

.contentloginBloco input {
  background-color: #ffffff;
  border: 1px solid rgb(255, 208, 0);
  border-radius: 8px;
  padding: 10px 10px;
  width: 100%;
  font-size: 16px;
}

.buttonlogin{
  background-color: rgb(255, 208, 0);
  border-color: rgb(255, 208, 0);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  width: 305px;
}

.buttonlogin2{
  background-color: rgb(252, 251, 248);
  border-color: rgb(255, 225, 0);
  color: rgb(11, 11, 7);;
  border-radius: 20px;
  cursor: pointer;
}

.headerlogin{
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.headerline{
  flex: 0 0 100%;
  max-width: 100%;
}

#HeaderUSP {
  background-image: url(https://uspdigital.usp.br/comumwebdev/imagens/cabecalho/bg-headtop.gif);
  padding: 10px 0 12px;
}

.logoUSP{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
  unicode-bidi: isolate;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  height: 45px;
  color:#ffffff;
  flex-wrap: wrap;
  background-color: #135c70;
  padding: 1em;
  align-items: center;
}

.navbar a{
  color: rgb(255, 255, 251);
}

.navbar a:hover{
  color: rgb(247, 255, 2);
}

.profilepg{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.profileif {
  padding-left: 250px;
  display: block;
  overflow:auto;
  align-items: center;
}

.foto{
  display: flex;
  text-align: right;
  align-items: center;
  float:left;
}

.ftperfil {
  width: 300px;
  border-width: 2px;
  border-style: solid;
  border-color:rgb(228, 202, 4)
}

.infosusuario {
  padding-right: 250px;
  color: #222;
  font-size: 40px;
  text-align: center;
  padding-left: 30px;
}

.infosusuariocursogrp {
  padding-right: 750px;
  color: #222;
  font-size: 35px;
  text-align: center;
  padding-left: 30px;
}

.buttonlogin{
  background-color: rgb(255, 208, 0);
  border-color: rgb(255, 208, 0);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  width: 105px;
}

.ftlogo {
  object-fit: cover;
}
